<footer>
  <div class="container">
    <div class="row row-cols-md-3 row-cols-1">
      <ul class="col footerInfo">
        <li class="footerInfoTitle">ALPHABOX+</li>
        <li class="footerInfoText">Copyright © 2023 Hexschool.</li>
      </ul>
      <span class="col d-flex justify-content-md-center
      material-symbols-outlined
      emergencyB">emergency</span>
      <ul class="col footerMenu">
        <div class="row row-cols-md-4 row-cols-1 gy-2">
          <li><a href="#" class="col footerLink">關於我們</a></li>
          <li><a href="#" class="col footerLink">產品資訊</a></li>
          <li><a href="#" class="col footerLink">常見問題</a></li>
          <li><a href="#" class="col footerLink">隱私政策</a></li>
          <li class="footerInfoText mobile">
            Copyright © 2023 Hexschool.
          </li>
        </div>
      </ul>
    </div>
  </div>
</footer>