<header>
  <div class="container">
    <nav class="nav">
      <h1 class="mb-0"><a href="index.html" class="logo">
        ALPHABOX+</a></h1>
      <ul class="navMenu">
        <li>
          <a href="product_D.html" class="navLink">
            產品<span></span>
          </a>
        </li>
        <li>
          <a href="#關於我們" class="navLink">
            關於我們<span></span>
          </a>
        </li>
        <li>
          <a href="#最新消息" class="navLink">
            最新消息<span></span>
          </a>
        </li>
        <li>
          <a href="#FAQ" class="navLink">
            FAQ<span></span>
          </a>
        </li>
        <li>
          <a href="#聯絡我們" class="navLink">
            聯絡我們<span></span>
          </a>
        </li>
      </ul>
      <ul class="registerMenu">
        <li>
          <a href="#" class="registerLink
          me-lg-4">
            註冊<span></span>
          </a>
        </li>
        <li>
          <a href="login.html" class="registerLink
          me-lg-5">
            登入<span></span>
          </a>
        </li>
        <li>
          <div href="#"
          class="
          registerBtn
          bg-white btn d-flex
          rounded-1
          g-1 py-lg-2 px-lg-3          
          mx-auto"
          type="button">
            <span class="material-symbols-outlined">
              point_scan
            </span>
            <span class="btnText">訂閱</span>
          </div>
        </li>
      </ul>
      <div class="hamWrap">
        <div class="ham">
          <div class="bar">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

