<ul class="pMenu">
  <li>
    <a href="product_D.html">Diane</a>
  </li>
  <li>
    <a href="product_F.html">Felix</a>
  </li>
  <li>
    <a href="product_K.html">Karina</a>
  </li>
  <li>
    <a href="product_V.html">Vito</a>
  </li>
</ul>